body{
    background-color:rgb(255, 219, 214);
    margin: 50px 80px;
    text-align: center;
}

.logo{
    background-color: white;
    padding: 30px;
}
.logo img{
    height: 300px;
    width: 300px;
}

.logo p{
    border: rgba(206, 153, 153, 0.623) dotted 1px;
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #fff6f5;
    padding: 50px;
}

.sec{
    display: block;
    border: rgb(223, 223, 223) solid 1px;
    margin: 10px;
    padding: 30px;

    color: #545E6B;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

}

label{
 display: block;
}

.button{
    padding: 50px;
}
.button input{
    padding: 30px;
}
footer{
    color: rgb(82, 82, 82);
    text-align: center;
    position: relative;
    height: 50px;
    width: 100%;  
    padding: 30px 0;
 }
 footer p{
 top: 50%;
 }
 .author a{
 font-size: 13px;
  font-weight:900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  }

a:visited, a:link {
    text-decoration: none;
}
a{
    color: rgb(109, 68, 68);
}