body , html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight:400;
    line-height:1.8em;
  color:rgb(56, 56, 56);
}
header{
    background-color: #313131;
    position: fixed;
    height: 90px;
    width: 100%;  
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
}

.nav-bar{
    width: 100%;
}
ul{
    text-align: center;
}
.nav-bar li{
    position: relative;
    display: inline;
    margin-right: 50px;
    text-align: center;
    padding: 3px;
    letter-spacing: 3px;
}

.nav-bar a{ 
    color: white;
}
.nav-bar a:hover{
   color:  #fff6f5;
}


.bimg1{
        background-image: url("img/Human-Brain.jpg");
        min-height: 750px;
}

.bimg2{
        background-image: url('img/brain_mas.jpg');
        min-height:400px;
}

.bimg3{
     background-image: url('img/pexels.jpg');
     min-height: 400px;
 }

.bimg1 , .bimg2 , .bimg3{
     position: relative;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     opacity: 0.70;
 }

 .sec{
     padding: 50px 80px;
     text-align: center;
     justify-content: center;
     display: block;
     background-color: #fff6f5;
     font-family: 'Times New Roman', Times, serif;
 }

 .stext{
     position: absolute;
     text-align: center;
     color: #fff;
     letter-spacing: 10px;
     text-transform: uppercase;
     width: 100%;
    top: 50%;
    font-size: 27px;
 }

.stext .border{
     background-color: black;
     padding: 20px;
 }

.quotes{
text-align: center;

}

 footer{
    background-color: #313131;
    color: white;
    text-align: center;
    position: relative;
    height: 50px;
    width: 100%;  
    padding: 30px 0;
 }
 footer p{
 top: 50%;
 }
 .author a{
 font-size: 13px;
  font-weight:900;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
  }

a:visited, a:link {
    text-decoration: none;
}
a{
    color: white;
}

img{
    align-items: center;
}